<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.full_name %>, just writing to let you know that you account has been deleted due to violation of the site.</h1>
    <p>
      To register for a new account, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>